.w-130 {
    width: 160px;
}

#mappa {
    border-radius: 15px;
    /* Puoi regolare questo valore per ottenere il bordo rotondo desiderato */
    overflow: hidden;
    border: 2px solid #ccc;
    /* Puoi regolare il colore e lo spessore del bordo */
    height: 600px;
    margin: 2rem;
}